.h-main{
    background: url(https://cdn.etrias.nl/media/cache/slide_wide_xxlg/images/slider/251888/asics-emmi-x-gel-nyc-white-huddle-yellow-hb.jpg) no-repeat center center/cover;
    padding: 300px;
    border-radius: 10px;
}
